.item-1 {
  background: url('../../../../assets/images/pages/main/slider/1.webp') 0 0 / cover no-repeat;
}

.item-2 {
  background: url('../../../../assets/images/pages/main/slider/2.jpg') 0 0 / cover no-repeat;
}

.item-3 {
  background: url('../../../../assets/images/pages/main/slider/3.jpg') 0 0 / cover no-repeat;
}

.item-4 {
  background: url('../../../../assets/images/pages/main/slider/4.jpg') 0 0 / cover no-repeat;
}

.item-5 {
  background: url('../../../../assets/images/pages/main/slider/5.jpg') 0 0 / cover no-repeat;
}

.item-6 {
  background: url('../../../../assets/images/pages/main/slider/6.jpg') 0 0 / cover no-repeat;
}
