.one {
  background: url('../../../../assets/images/pages/main/collectins/gryfindor.webp') center center /
    cover no-repeat;
}
.two {
  background: url('../../../../assets/images/pages/main/collectins/hufflepuff.webp') center center /
    cover no-repeat;
}
.three {
  background: url('../../../../assets/images/pages/main/collectins/ravenclaw.webp') center center /
    cover no-repeat;
}
.four {
  background: url('../../../../assets/images/pages/main/collectins/slytherin.webp') center center /
    cover no-repeat;
}
